<nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: purple">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link</a>
        </li>
      </ul>
      <%# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>


<h1 style="margin-left: 1rem; margin-top: 1rem; color: purple">Create a new article</h1>
<p style="margin-left: 1rem; color: white">Creating a blog post is a powerful way to share your thoughts, ideas, and expertise with the world. Whether you're writing to inform, inspire, or entertain, your blog is a platform for connecting with readers and contributing to meaningful conversations. Take your time to craft a compelling title, develop your message clearly, and consider including images or media to enhance your content. This form allows you to bring your voice to life—so let your creativity flow and engage your audience with an insightful, well-written post.</p>

<div class="col-md-6", style="margin-left: 1rem">
  <%= image_tag "ca.png", alt: "Blog Writing", class: "img-fluid rounded" %>
</div>


<%= render "form", article: @article %>

